body{
width: 800%;
margin: auto;
padding: 0;

}
td{
border: 1px solid black;
color: red;
}
th{
border: 1px solid black;
color: black;
}

table{
border: 1px solid black;
border-collapse: collapse;
margin: 100px 100px 100px 100px;
}



