body{
	margin: 0;
	padding: 0;


	
}
table{
	border: 2px solid black;
	border-collapse: collapse;
	margin: auto;
	width: 50vw;
	height: 50vh;

}

th{
	border: solid black,


}
td{
	border: solid black;
	text-align: center;
	font-weight: bold;
}
tr{
	border: solid black;
	background-color: #D0E3FA;
}




